nav {
    font-weight: bold;
}
.nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 16px;
}

.nav-item {
    display: flex;
    cursor: pointer;
    padding: 16px;
    color: black;
    background-color: #0366ee29;
    margin-top: 20px;
    margin-right: 16px;
}

.nav-item.active {
    background-color: #0366ee40;
}



.nav-item:hover {
    background-color: #0366ee40;
}